@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body {
    font-family: 'Noto Sans KR', sans-serif !important;
}

/*############################# carrot-form #############################*/
.carrot-form-label {
    border: 1px solid #ced4da;
    background-color: #eee;
    text-align: center;
    margin-bottom: 0px;
}

.carrot-form-control {
    border: 1px solid #ced4da;
    text-align: center;
    margin-bottom: 0px;
}

/*############################# error #############################*/
.error {
    color: rgba(255, 0, 0, 0.753);
    text-align: left;
}

/*############################# flex #############################*/
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.align-items-center {
    display: flex;
    align-items: center;
}

.jusitify-center {
    display: flex;
    justify-content: center;
}

/*############################# display #############################*/
.dp-block {
    display: block;
}

/*############################# width percent #############################*/
@for $i from 1 through 100 {
    .w-#{$i}per {
        width: $i * 1%;
    }
}


/*############################# height percent #############################*/
@for $i from 1 through 100 {
    .h-#{$i}per {
        height: $i * 1%;
    }
}

/*############################# height px #############################*/
@for $i from 1 through 100 {
    .h-#{$i}px {
        height: $i * 1px
    }
}


/*############################# min-height px #############################*/
@for $i from 1 through 100 {
    .mh-#{$i}px {
        min-height: $i * 1px;
        height: 100%;
    }
}

/*############################# padding px #############################*/
@for $i from 1 through 100 {
    .pt-#{$i}px {
        padding-top: $i * 1px;
    }
}


/*############################# line-hight px #############################*/
@for $i from 1 through 100 {
    .lh-#{$i}px {
        line-height: $i * 1px;
    }
}